<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eshop.styles.css" asp-append-version="true" />
</head>
<body>
    <a class="navbar-brand" asp-area="" asp-controller="Backend" asp-action="Index">Eshop</a>
    <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Index">Users</a>

    <h1 class="bg-primary d-flex justify-content-center">HELLO DEVELOPER BACKEND</h1>
    @RenderBody()
</body>
</html>

