@model Product


<form>
    <div class="form-group">
        <label asp-for="SKU"></label>
        <input type="text" class="form-control" asp-for="SKU" placeholder="SKU..">
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Name..">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input type="text" class="form-control" asp-for="Description" placeholder="Description..">
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="text" class="form-control" asp-for="Price" placeholder="Price..">
    </div>
    <div class="form-group">
        <label asp-for="Stock"></label>
        <input type="text" class="form-control" asp-for="Stock" placeholder="Stock..">
    </div>
    <div class="form-group">
        <label asp-for="ProductTypeId"></label>
        <input type="text" class="form-control" asp-for="ProductTypeId" placeholder="ProductTypeId..">
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input type="text" class="form-control" asp-for="Image" placeholder="Image..">
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <input type="checkbox" asp-for="Status" placeholder="Status..">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>